<!DOCtype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
        <title>home</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue-indigo.min.css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Kavivanar" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
        <link rel="stylesheet" href="styles.css" type="text/css">
        <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
                                        
        <!-- Add textbox validation scripts -->
    </head>

    <div  style="position:absolute;">
    <img src="./static/vtu-logo.jpg" alt="vtu-logo" width ="100" height="100" style="margin-left:30px; margin-top:20px;"/>
    <img src="./static/Logo_VVIET.jpg" alt="vviet logo" width ="100" height="100" style="margin-left:1000px; margin-top:20px;" />
    </div>


<body style="backgroung-color:white; background-image:./static/car_poll.jpg;"   align ="center">
    <div style='color:#bf360c'>
        <h4>VIDYA VIKAS INSTITUTE OF ENGINEERING AND TECHNOLOGY</h4>
        <h10>#127 - 128, Mysuru Bannur Road, Alanahally Post MYSURU – 570028</h10>
        <h3>DEPARTMENT OF COMPUTER SCIENCE AND ENGINEERING</h3>
        <h1> <b> AIR POLLUTION DETECTION AND PREDICTION <br /> USING MACHINE LEARNING MODELS </b> </h1>
    <a href="{{ url_for('options') }}">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="width:120px; height:70px">
            <span style="font-size=50px; font-style:italic; font-family:Serif"> start </span>
        </button>
    </a>
        <p>
        <br \> <br \>
        <h6 style='color:#009688'>
            <b>Submitted by</b> <br \>
            <span align="left" > Chandana R Deshmukh(4vm14cs009) &emsp;Nayana D K (4vm14cs028)&emsp;Praveen Gandhi(4vm14cs031)</span> <br \>
        <b>Under the Guidance of</b> <br \>
        Dr. ADITYA C R <br \>
        Associate Professor, Dept. of CSE<br />
        VVEIT.
        </h6>
        </p>

</div>
    </body>
    
    
            
            <footer class="mdl-mini-footer" style="position: fixed; bottom: 0px; width: 100%; height: 1px; display: block;">
                <div class="mdl-mini-footer__middle-section home" style="margin-bottom: 80px; ">
                    <div class="mdl-logo" style="font-size: 15px; position: absolute; left: 20px; color: white; top:15px">&copy; AIR POLLUTION DETECTION AND PREDICTION USING MACHINE LEARNING MODELS</div>
                </div>
            </footer>
            
    
</html>

